.reward-page-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  gap: 25px;
  justify-content: center;
}
body{
  padding-top: 85px;
}
.card{
  background-color: #c3ae8a;
}
.title-quest{
  color: white;
  display: flex;
  font-size: 40px;
  justify-content: center;
  margin-bottom: 70px;
}
.add-reward-button{
  font-family: inherit;
  background-color: inherit;
  border: none;
  padding: 20px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  
}
.add-reward-button:hover{
  opacity: 0.5;
}
