.grid-div {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid black;
  max-width: 750px;
  padding: 10px;
  place-items: center;
  margin: 20px auto 0;
}
.days-calendar,
.date-cell {
  font-size: 20px;
  font-weight: 450;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  color: black;
}