.quests-progress-div{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 395px));
  gap: 20px;
  width: 100%;
}
.quest-progress{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(199, 199, 124);
  min-height: 150px;
  padding: 10px;
  box-sizing: border-box;
}
.quest-link{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}