.quest-in-progress {
  width: 100%;
  background-color: rgb(223, 209, 209);
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-top: 10px;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.clock-time {
  font-size: 25px;
}
.timer-circle {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.inside-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: conic-gradient(white 360deg);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quest-name {
  font-size: 25px;
}
.start-button,
.stop-button {
  padding: 8px 13px;
}
.buttons-timer button {
  font-size: 15px;
}
.exit-button {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 999;
}
.setting-image {
  width: 20px;
  cursor: pointer;
  pointer-events: auto;
}
.delete-div {
  margin-top: 6px;
  transition: 0.2s ease;
  pointer-events: auto;
}
.delete-button {
  font-size: 15px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  background-color: inherit;
  color: white;
}