*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  position: relative;
  z-index: 1000;
  scrollbar-width: none;
   font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body{
  padding: 70px 25px 25px 25px;
}
button{
  font-family: inherit;
}
